@model Category

@{
    ViewData["Title"] = "" + Model.Name;
}

<h1>Detalles</h1>

<div>
    <partial name="_CategoryDetails" model="@Model"/>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-success"><i class="fa-solid fa-arrow-rotate-left"></i> Regresar</a>
</div>