* {
    box-sizing: border-box !important;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand {
    font-size: 1.75rem;
}

.navbar-brand:hover {
    color: #f1f1f1 !important;
}

.item-hover {
    margin: 0 0.5rem;
    line-height: 1 !important;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.item-hover:hover {
    color: #e1e1e1 !important;
}

.form-shadow {
    box-shadow: 15px 15px 30px -15px rgba(0 0 0 / 45%)
}

@charset "utf-8";

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 370px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
    margin: 0.75rem 5px;
}

.card_title {
    font-size: 24px;
    padding: 10px 10px 0 10px;
}

.card_body {
    padding: 10px;
}

.card_foot {
    background: #6699ff;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    text-align: center;
}

.foot a {
    text-decoration: none;
    color: white;
}

.foot a:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: ""
}