@model StateViewModel

@{
    ViewData["Title"] = "Agregar estado";
}

<h1>Agregar</h1>
<h4>Estado</h4>

<hr />

<flash dismissable="true" />

<div class="row">
    <div class="col-md-12">
        <form asp-action="AddState">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CountryId" />

            <partial name="_State" model="@Model"/>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-outline-primary col-md-5 offset-1" />
                <a asp-action="Details" asp-route-id="@Model.CountryId" class="btn btn-outline-success col-md-5">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}