@model EditProductViewModel

@{
    ViewData["Title"] = "Editar producto";
}

<h1>Editar</h1>
<h4>Producto</h4>

<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="Id" />
            
            <partial name="_EditProduct"/>
            
            <div class="form-group mt-2 mb-3">
                <input type="submit" value="Guardar" class="btn btn-outline-primary col-md-4 offset-2" />
                <a asp-action="Index" class="btn btn-outline-success col-md-4">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}