@model RecoverPasswordViewModel

@{
    ViewData["Title"] = "Recuperar contraseña";
}

<div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
        <h5 class="card-header text-center bg-info text-white">
            <i class="fa-solid fa-envelope text-navy"></i> 
            Recuperación de Constraseña
        </h5>

        <div class="card-body" style="background-color: #fcbf49 !important;">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <div class="form-group mb-3">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-warning"></span>
                </div>

                <div class="form-group mt-2">
                    <input type="submit" value="Recuperar contraseña" class="btn btn-primary mb-3" style="width: 100% !important;" />
                    <a asp-action="Login" class="btn btn-success mb-3" style="width: 100% !important;">Regresar</a>
                </div>
            </form>
        </div>

        <div class="text-success mt-3">
            <p>
                @ViewBag.Message
            </p>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}